/* GroceryList.css */

/* GroceryList.css */

/*div {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  
  
  h1 {
    text-align: center;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
  }
  
  li {
    width: 200px; 
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    box-sizing: border-box;
    transition: transform 0.3s ease;
    
  }

  li:hover {
    transform: scale(1.05); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  
  h3 {
    margin-bottom: 10px;
  }
  
  img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  p {
    margin-top: 10px;
    line-height: 1.5;
  }
  
  @media (min-width: 768px) {
    li {
      flex: 0 0 calc(25% - 20px); 
    }
  }
  */

  /* GroceryList.css */

div {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

li {
  width: 200px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  box-sizing: border-box;
  opacity: 0; /* Initial opacity to hide the cards */
  transform: translateY(20px); /* Initial position off the screen */
  transition: transform 0.3s ease, opacity 0.3s ease;
}

li:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

li.animation {
  opacity: 1; /* Set opacity to show the cards */
  transform: translateY(0); /* Move the cards to their original position */
}

h3 {
  margin-bottom: 10px;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

p {
  margin-top: 10px;
  line-height: 1.5;
}

@media (min-width: 768px) {
  li {
    flex: 0 0 calc(25% - 20px);
  }
}

/* Additional class for triggering the animation */
.animate {
  animation: fadeInUp 0.5s ease forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

  